/*<================>
IMPORTS
<================>*/
@import url(./webfont/stylesheet.css);
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/*<================>
VARIABLES
<================>*/
/*<================>
GLOBALS
<================>*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "proxima_novalight", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #101821;
  background-color: #fcfefc; }

.links {
  text-decoration: none;
  cursor: pointer; }

/*<================>
NAVIGATION
<================>*/
.top-bar {
  width: 100%;
  z-index: 100;
  position: fixed;
  margin: 0 0 0 0;
  height: auto;
  -webkit-transition: margin 0.2s linear;
  transition: margin 0.2s linear; }
  .top-bar #menu-hamburger {
    float: right;
    color: #FF5000;
    font-size: 2em;
    cursor: pointer; }
    .top-bar #menu-hamburger i {
      margin: 20px 40px 0 0; }
  .top-bar #menu-hamburger:hover {
    color: #cc4000; }

.nav-wrapper {
  width: 100%;
  z-index: 100;
  position: fixed;
  margin: -6em 0 0 0;
  padding-bottom: 10px;
  background-color: rgba(16, 24, 33, 0.8);
  -webkit-transition: margin 0.2s linear;
  transition: margin 0.2s linear; }
  .nav-wrapper img {
    margin-left: 2em;
    margin-top: 1em;
    height: 60px; }

.nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 1.5em 0 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-right: 5%; }
  .nav::after {
    clear: both;
    content: "";
    display: table; }

.nav-item {
  font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  margin: 1em 1.5em; }
  .nav-item a {
    color: #fff;
    font-size: 1.25em;
    text-decoration: none;
    letter-spacing: 0.1em;
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .nav-item {
      font-size: .8em;
      letter-spacing: 0.1em; } }
  @media screen and (max-width: 600px) {
    .nav-item {
      font-size: 0.5em;
      letter-spacing: 0;
      margin: 1.5em .75em; } }

.nav-item a:hover {
  color: #ddd; }

.active {
  color: #999; }

.logo-wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0; }
  .logo-wrapper img {
    margin-left: 2em;
    margin-top: 1em;
    height: 50px; }

.underline {
  display: block;
  background-color: #FF5000;
  height: 5px;
  border-radius: 5px;
  margin: 0;
  overflow-x: hidden;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear; }

.hide {
  width: 0; }

.show {
  width: 100%; }

.active {
  width: 100% !important; }

/*<================>
FOOTER
<================>*/
.footer-wrapper {
  height: 700px;
  background-color: #fff; }

.footer-header {
  font-size: 3em;
  padding: 20px;
  text-align: center;
  color: #FF5000; }
  .footer-header img {
    margin-top: 2em;
    width: 25%; }

.color-heading {
  visibility: hidden; }

.footer-social-icons {
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #FF5000;
  border-radius: 100%;
  display: inline-block;
  margin-left: 10%; }
  .footer-social-icons i {
    font-size: 2em;
    margin-left: 28%;
    margin-top: 25%; }
  .footer-social-icons #fb-link {
    margin-left: 35%; }

.footer-social-icons:hover {
  background-color: #db4500; }

.icon-bar {
  width: 80%;
  margin-left: auto;
  margin-top: 2em; }

.footer-text p {
  color: #555;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 0.75em; }

.footer-text a {
  color: #888; }

.footer-text a:hover {
  color: #ccc; }

.footer-content-block {
  max-width: 100%;
  margin: 10px auto;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .footer-content-block::after {
    clear: both;
    content: "";
    display: table; }

.footer-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 8.5298%; }
  .footer-content h2 {
    font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FF5000;
    font-size: 1.75em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 0; }
  .footer-content:last-child {
    margin-right: 0; }

.link-list {
  line-height: .5em; }
  .link-list p {
    font-weight: bolder; }

.footer-link {
  font-size: 1.1em;
  color: #101821;
  font-weight: bolder; }

.footer-link:hover {
  color: #888888; }

/*<=============================================================>
--------------------*HOME PAGE CONTENT*-----------------------
<=============================================================>*/
/*<================>
HOME PAGE PARALLAX
<================>*/
.parallax {
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }

/*
color: $font-color-light;
font-family: $font2;
font-weight: 800;
font-size: 4em;
text-align: center;
text-shadow: 0 0 20px $font-color-dark;
*/
.video-overlay-text {
  position: relative;
  top: 30%;
  left: 10%;
  max-width: 80%;
  height: 100px;
  z-index: 999; }

.overlay-text {
  font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5.5vh;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 20px #bababa;
  text-align: center;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 2s linear;
  transition: opacity 2s linear; }

.main-img {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .main-img:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .main-img {
      height: 100vh;
      left: -10px; } }

.main-vid {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .main-vid:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .main-vid {
      height: 100vh;
      left: -10px; } }

/*<================>
FIRST CONTENT
<================>*/
.intro-div {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 100vh;
  background-color: #fcfefc;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 4em;
  height: 750px;
  color: #101821; }
  .intro-div:last-child {
    margin-right: 0; }
  .intro-div h1 {
    color: #1e1e1e;
    font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center; }

.content {
  padding: 0px 0;
  width: 70%;
  margin: auto; }
  .content p {
    font-size: 1.3em; }
  .content h3 {
    margin-bottom: 2.5em; }

.content h1 {
  margin: 0; }

.button-bar {
  margin: 2em 3em; }
  .button-bar .buttons {
    padding: 1em;
    margin: 2em;
    width: 150px;
    background-color: #101821;
    color: #fff;
    border: none;
    border-radius: 3px; }
  .button-bar .buttons:hover {
    background-color: #535353; }

/*<================>
SECOND CONTENT
<================>*/
.featured-block {
  width: 100%;
  margin: 0; }

.featured-photos:hover {
  -webkit-transform: translateZ(-1px) scale(1.01);
  transform: translateZ(-1px) scale(1.01);
  -webkit-box-shadow: 0 0 20px #101821;
  box-shadow: 0 0 20px #101821; }

.featured-photos {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin: 0;
  width: 50%;
  height: 450px; }
  .featured-photos:last-child {
    margin-right: 0; }

.second-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 450px;
  background-color: #fcfefc; }
  .second-content:last-child {
    margin-right: 0; }

/*<================>
THIRD CONTENT/BLOG
<================>*/
.third-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fcfefc; }
  .third-content:last-child {
    margin-right: 0; }

.blog-content {
  margin: 0 auto; }
  .blog-content .blog-heading {
    margin: .5em auto; }
    .blog-content .blog-heading h1 {
      font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 1em auto;
      text-decoration: underline; }

.post-container {
  height: 450px; }
  .post-container .blog-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin: 0;
    height: 450px;
    width: 66.66666%; }
    .post-container .blog-img:last-child {
      margin-right: 0; }
    .post-container .blog-img img {
      width: 100%; }
  .post-container .blog-title {
    height: 500px;
    background-color: rgba(235, 232, 231, 0.8);
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    width: 33.33333%; }
    .post-container .blog-title:last-child {
      margin-right: 0; }
    .post-container .blog-title h2 {
      width: 80%;
      padding: 1em;
      margin: 20% auto 0;
      font-family: "proxima_novalight", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 200; }
    .post-container .blog-title p {
      color: #999;
      font-style: italic; }
  .post-container .blog-enter-div {
    width: 7em;
    margin: 2em auto; }
    .post-container .blog-enter-div button {
      background-color: #101821;
      color: #fff;
      border-radius: 5px;
      padding: 1em; }

#blog-enter:hover {
  background-color: #444; }

/*<================>
CLIENT BLOCK
<================>*/
.client-block img {
  width: 100%; }

/*<================>
SPACERS
<================>*/
.spacer-headings {
  font-family: "proxima_novalight", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  color: #101821;
  text-align: center;
  margin: 2em; }

.spacer-div {
  background-color: #f2f2f2;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 225px; }
  .spacer-div:last-child {
    margin-right: 0; }

/*<=============================================================>
--------------------*SITEWIDE PAGE CONTENT*-----------------------
<=============================================================>*/
.wrap {
  width: 100%;
  height: auto; }

.emphasis {
  color: #FF5000; }

.bottom-line {
  border-bottom: 1px solid #444; }

.caps {
  text-transform: uppercase; }

.separate {
  padding: 16px 0; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.deliminator {
  max-width: 60%;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px solid #444; }

.center-text {
  text-align: center; }

.padding {
  padding: 1em; }

.padding-large {
  padding: 2em; }

.padding-space {
  padding: 20px 0; }

.margin-space {
  margin: 15px 0; }

.margin-large {
  margin: 30px; }

.margin {
  margin: 15px; }

/*<================>
BANNER/HEADLINE
<================>*/
.full-page-banner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#services-banner {
  background-image: url("../img/baker_beach.jpg"); }

#products-banner {
  background-image: url("../img/sf_sky.jpg"); }

.banner-content {
  position: relative;
  top: 65%;
  left: 5%;
  max-width: 90%;
  height: auto; }

.banner-text {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px #101821; }

.banner-headline {
  margin: 0;
  font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.5em;
  font-weight: 800; }

/*<================>
TEXT CLASSES
<================>*/
.text-heading {
  max-width: 80%;
  margin: 0 auto; }
  .text-heading h1 {
    margin: 0.5em 0;
    font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    text-align: center; }

.text-heading-large {
  max-width: 80%;
  margin: 0 auto; }
  .text-heading-large h1 {
    font-family: "proxima_nova_rgbold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4.5em;
    text-align: center;
    margin: 0; }

.text-copy {
  max-width: 90%;
  margin: 0 auto; }
  .text-copy p {
    margin: 0;
    font-size: 1.75em;
    font-weight: 500; }
  .text-copy ul {
    padding: 0;
    font-size: 1.5em;
    font-weight: 500; }

.mega {
  font-size: 6em; }

/*<================>
CONTENT BLOCK CLASSES
<================>*/
.full-width {
  width: 100%;
  height: auto; }

.content-block {
  padding: 1em; }

.spacer-block {
  padding: 3em; }

/*<================>
IMAGE BLOCKS
<================>*/
.image-text-left {
  width: 100%;
  padding: 0 14px; }
  .image-text-left .ir {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .image-text-left .ir:last-child {
      margin-right: 0; }
  .image-text-left .cl {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .image-text-left .cl:last-child {
      margin-right: 0; }

.image-text-right {
  padding: 0 14px;
  width: 100%; }
  .image-text-right .il {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .image-text-right .il:last-child {
      margin-right: 0; }
  .image-text-right .cr {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .image-text-right .cr:last-child {
      margin-right: 0; }

.panel-img {
  width: 100%; }

.number-header {
  width: 25%; }
  .number-header h1 {
    font-family: "Monterrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin: 0; }

.panel-list .panel-list-heading {
  font-size: 1.75em;
  margin: 0;
  font-weight: bolder; }

.double-image {
  width: 100%; }
  .double-image .image-left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .double-image .image-left:last-child {
      margin-right: 0; }
  .double-image .image-right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .double-image .image-right:last-child {
      margin-right: 0; }

/*<================>
SURVEY BLOCK
<================>*/
#survey-block {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 4em; }

.survey-results {
  width: 100%; }
  .survey-results .survey-card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .survey-results .survey-card:last-child {
      margin-right: 0; }
    .survey-results .survey-card img {
      width: 100%; }
